<footer>
    <div class="footer-col">
        <h3>Top Products</h3>
        <li>Online Courses</li>
        <li>Certifications</li>
        <li>Skill Development</li>
        <li>Virtual Classrooms</li>
    </div>

    <div class="footer-col">
        <h3>Quick Links</h3>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>FAQs</li>
        <li>Terms and Conditions</li>
    </div>

    <div class="footer-col">
        <h3>Features</h3>
        <li>Personalized Learning</li>
        <li>Expert Mentors</li>
        <li>Community Forums</li>
        <li>Mobile Learning</li>
    </div>

    <div class="footer-col">
        <h3>Resources</h3>
        <li>Blog</li>
        <li>E-Books</li>
        <li>Tutorials</li>
        <li>Case Studies</li>
    </div>

    <div class="footer-col">
        <h3>Newsletter</h3>
        <p>Stay Updated!<br>Subscribe to get the latest updates and offers.</p>

        <div class="subscribe">
            <input type="text" placeholder="Your Email Address">
            <a href="#" class="yellow">SUBSCRIBE</a>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright &copy;2026 All rights reserved | This template is made by Upskill Hub</p>

        <div class="pro-links">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
        </div>
    </div>
</footer>