<nav>
    <img src="../images/logo.png" width="100" alt="">

    <div class="navigation">
        <ul>
            <i id="menu-close" class="fas fa-times"></i>

            <li><a href="../index.html">Home<span></span></a></li>
            <li><a href="../Navs/about.html">About<span></span></a></li>
            <li><a href="../Navs/blog.html">Blog<span></span></a></li>
            <li><a href="../Navs/course.html">Courses<span></span></a></li>
            <li><a href="../Navs/contact.html">Contact<span></span></a></li>
        </ul>

        <img id="menu-btn" src="../images/menu.png" alt="">
    </div>
</nav>